/*-----------
    Reset
------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------
    Clearfix
------------*/
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/*-----------
    Container
------------*/
.container{
    margin: auto;
    max-width: 1080px;
    font-family: 'Roboto', sans-serif;
}


/*-----------
    Common
------------*/
.product-box{
   width: calc(100% / 3 - 10px );
   float: left;
   margin: 0 5px;
}

.product-image img{
    width: 100%;
}

.product-row{
    margin-top: 20px;
    margin-bottom: 50px;
}

.product-image{
    position: relative;
}

.first-image-product{
    display: block;
}

.second-image-product{
    display: none;
}

/*-----------
   Img specs
------------*/
.product-info{
    color: white;
    position: absolute;
    bottom: 30px;
} 

.add-wishlist{
    background-color: white;
    font-size: 30px;
    padding: 5px 10px;
    position: absolute;
    top: 30px;
    right: 0px;
}

.discount, .sostenibilità{
    padding: 5px 10px;
    font-weight: bold;
}

.discount{
    background-color: #eb0037;
    margin-right: 5px;
}

.sostenibilità{
    background-color: #00875a;
}

/*-----------------
Product description
------------------*/

.product-description h4 {
    text-transform: uppercase;
}

.price{
    color: #eb0037;
    font-weight: bold;
}

/*-----------------
Hover options
------------------*/

.product-box:hover .second-image-product{
    display: block;
}

.product-box:hover .first-image-product{
    display: none;
}